<label>Server Name</label>
<!-- <input type="text" class="form-control" (input)="onUpdeateServerName($event)" />
<p>{{ serverName }}</p> -->
<!-- 양방향 바인딩 -->
<input type="text" class="form-control" [(ngModel)]="serverName" />
<!-- <p>{{ serverName }}</p> -->
<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()"
>
  Add Server
</button>
<!-- <p [innerText]="allowNewServer"></p> -->
<!-- <p>{{ serverCreationStatus }}</p> -->
<!-- directive -->
<p *ngIf="serverCreated">Server was created, server name is {{ serverName }}</p>
<!-- <p *ngIf="!serverCreated">서버 노실행</p> -->
<!-- <ng-template #noServer><p>서버 노실행</p></ng-template> -->
<app-server *ngFor="let server of servers"></app-server>
